.headerWrapper {
    margin: 3% 7% 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    max-width: 690px;
}

.headerMainText {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    color: var(--color-our-primary);
    font-weight: 600;
    line-height: 1.32;
    margin-top: 25%;
}

.headerMainTextInside {
    color: var(--color-our-accent);
    font-weight: 400;
}

.heroLight,
.heroDark {
    position: absolute;
    top: 22%;
    left: 48%;
    right: 0;
    bottom: 0;
}

.heroLight {
    display: var(--our-show);
}