.navbarWrapper {
    margin: 2% 7% 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navBrand {
    cursor: pointer;
}

.logos1,
.logos2 {
    position: absolute;
    margin-top: -66px
}

.logos2 {
    display: var(--our-show);
}

.navLinksContainer {
    display: flex;
    color: var(--color-our-primary);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.navLinks {
    padding: 0 1.5rem 0 1.5rem;
    margin: 0 0 8px 0;
    cursor: url(../public/smile.png) 55 05, pointer;
}

.navLinks:hover {
    color: var(--color-our-accent);
}

.navElement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14%;
    min-width: 200px;
}

.searchContainer {
    height: 56px;
    width: 122px;
    background-color: var(--color-our-primary);
    border-radius: 31px;
    display: flex;
    align-items: center;
    padding-left: 5%;
    cursor: url(../public/searchCursor.png), text;
}

.searchContainer:hover {
    background: none;
    border: var(--color-our-primary) 3px solid;
}

.searchIcon {
    display: var(--our-show);
}

.searchIcon,
.searchIconDark {
    position: absolute;
}


/* .colorModeToggle {
    margin-left: 20%;
} */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-our-accent);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-our-sec);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 20;
}

input:checked+.slider {
    background-color: var(--color-our-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-our-accent);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #35393E;
}

.slider {
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
}

.sun {
    position: absolute;
    cursor: pointer;
    top: 20%;
    left: 60%;
    right: 0;
    bottom: 0;
}

.moon {
    position: absolute;
    cursor: pointer;
    top: 20%;
    left: 8%;
    right: 0;
    bottom: 0;
}